:root {
    --bg-color: rgba(0, 0, 0, 0.4);
    --secondary-bg: rgba(255, 255, 255, 0.15);
    --border-color: rgba(222, 222, 222, 0.8);
    --font-color: white;
    --blur: blur(8px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--font-color);
}

body{
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.glass-effect {
    background: var(--bg-color);
    backdrop-filter: var(--blur);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    backdrop-filter: var(--blur);
}

.container{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.container > h1{
    font-size: 48px;
    letter-spacing: 15px;
}

.todo-section, .input-container{
    width: 100%;
    overflow-y: scroll;
    max-height: 60%;
}

.input-container{
    display: flex;
    justify-content: space-between;
    padding: 25px 18px;
    border-bottom: 2px solid var(--border-color);
}

.input-container i{
    width: 30px;
    height: 30px;
    font-size: 28px;
    display: grid;
    place-content: center;
    cursor: pointer;
    color: var(--border-color);
}

.input-container > input[type="text"]{
    font-style: italic;
    background-color: transparent;
    border: none;
    width: 80%;
    font-size: 18px;
}

.input-container > input[type="text"]:focus{
    outline: none;
    width: 90%;
}


.card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 18px;
    border-bottom: 2px solid var(--border-color);
}

.card:last-child{
    border-bottom: none;
}

.checkbox{
    display: grid;
    place-content: center;
    width: 26px;
    height: 26px;
    appearance: none;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
}


.checkbox::before{
    font-size: 24px;
    content: "\2713";
    color: #5dbea3;
    transform: scale(0);
    transition: 0.05s ease-in-out;
}

.checkbox:checked::before{
    transform: scale(3.5);
}

.task{
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 90%;
    font-size: 16px;
}

.task-edit{
    font-style: italic;
    background-color: transparent;
    border: none;
    width: 90%;
    font-size: 18px;
}

.task-edit:focus{
    outline: none;
    width: 90%;
}

.card i{
    width: 26px;
    height: 26px;
    display: grid;
    place-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
    color: #EE4E4E;
}

.completed > .task{
    text-decoration: line-through;
}
.foot-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 25px 18px;
    width: 100%;
}

.foot-container button{
    background-color: transparent;
    border: none;
    color: var(--font-color);
    font-size: 12px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s ease;
}

.foot-container button:hover, .foot-container button.active{
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg);
}

@media (max-width: 1000px){
    .container{
        width: 90%;
    }

    .todo-section{
        max-height: 50%;
    }

    .foot-container{
        flex-direction: column;
        gap: 30px;
    }
}